# <center>Лабораторна робота № 1.<br> Аналіз даних про доходи населення</center>

**В завданні пропонується за допомогою Pandas відповісти на декілька питань за даними репозиторія UCI [Adult](https://archive.ics.uci.edu/ml/datasets/Adult) (качати дані не потрібно – вони вже є в директорії роботи).

Унікальні значення ознак (більше інформації за посиланням вище):
- age: continuous.
- workclass: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.
- fnlwgt: continuous.
- education: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.
- education-num: continuous.
- marital-status: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.
- occupation: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.
- relationship: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.
- race: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.
- sex: Female, Male.
- capital-gain: continuous.
- capital-loss: continuous.
- hours-per-week: continuous.
- native-country: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.   
- salary: >50K,<=50K

In [1]:
import pandas as pd

**Доступ до даних на google drive**, якщо ви відкриваєте блокнот в **google colab**, а не на PC, можна отримати шляхом монтування google drive

In [ ]:
from google.colab import drive
drive.mount('/content/gdrive')

In [ ]:
!ls gdrive/'My Drive'/TEACHING/IntroDataScience/intro_to_data_science/Lab_1_2/data

In [ ]:
# шлях до папки з даними на моєму google drive, відредагуйте згідно вашого випадку
data_folder = "gdrive/My Drive/TEACHING/IntroDataScience/intro_to_data_science/Lab_1_2/data"

In [2]:
#data = pd.read_csv('data/adult.data.csv')
data_folder = "data"
data = pd.read_csv(data_folder+'/adult.data.csv')
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

**1. Скільки чоловіків і жінок (ознака *sex*) представлено в цьому наборі даних?**

In [9]:
data['sex'].value_counts()

Male      21790
Female    10771
Name: sex, dtype: int64

**2. Який середній вік (ознака *age*) жінок?**

In [61]:
data[(data['sex'] == 'Female')]['age'].mean()

36.85823043357163

**3. Яка частка громадян Німеччини (ознака *native-country*)?**

In [62]:
(data[(data['native-country'] == 'Germany')]['native-country'].value_counts() / data.shape[0]) * 100

Germany    0.420749
Name: native-country, dtype: float64

**4-5. Які середні значення і середні відхилення віку тих, хто отримує більше 50K в рік (ознака *salary*) і тих, хто отримує менше 50K в рік? **

In [105]:
data.groupby('salary')['age'].mean(), data.groupby('salary')['age'].std()

(salary
 <=50K    36.783738
 >50K     44.249841
 Name: age, dtype: float64,
 salary
 <=50K    14.020088
 >50K     10.519028
 Name: age, dtype: float64)

**6. Чи правда, що люди, які отримують більше 50k, мають як мінімум вищу освіту? (ознака *education – Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters* чи *Doctorate*)**

In [104]:
data.loc[data['salary'] == '>50K', 'education'].unique()

array(['HS-grad', 'Masters', 'Bachelors', 'Some-college', 'Assoc-voc',
       'Doctorate', 'Prof-school', 'Assoc-acdm', '7th-8th', '12th',
       '10th', '11th', '9th', '5th-6th', '1st-4th'], dtype=object)

**7. Вивести статистику віку для кажної раси (ознака *race*) і кожної статі. Використовуйте *groupby* і *describe*. Знайдіть таким чином максимальний вік чоловіків раси *Amer-Indian-Eskimo*.**

In [119]:
data.groupby(['race','sex'])['age'].describe()

                             count       mean        std   min   25%   50%  \
race               sex
Amer-Indian-Eskimo Female    119.0  37.117647  13.114991  17.0  27.0  36.0
                   Male      192.0  37.208333  12.049563  17.0  28.0  35.0
Asian-Pac-Islander Female    346.0  35.089595  12.300845  17.0  25.0  33.0
                   Male      693.0  39.073593  12.883944  18.0  29.0  37.0
Black              Female   1555.0  37.854019  12.637197  17.0  28.0  37.0
                   Male     1569.0  37.682600  12.882612  17.0  27.0  36.0
Other              Female    109.0  31.678899  11.631599  17.0  23.0  29.0
                   Male      162.0  34.654321  11.355531  17.0  26.0  32.0
White              Female   8642.0  36.811618  14.329093  17.0  25.0  35.0
                   Male    19174.0  39.652498  13.436029  17.0  29.0  38.0

                             75%   max
race               sex
Amer-Indian-Eskimo Female  46.00  80.0
                   Male    45.00  82.0
Asian-Pac-Islander Female  43.75  75.0
                   Male    46.00  90.0
Black              Female  46.00  90.0
                   Male    46.00  90.0
Other              Female  39.00  74.0
                   Male    42.00  77.0
White              Female  46.00  90.0
                   Male    49.00  90.0

**8. Серед кого більша частка заробляючих багато (>50K): серед одружених чи холостих чоловіків (ознака *marital-status*)? Одруженими вважаємо тих, у кого *marital-status* починається з *Married* (Married-civ-spouse, Married-spouse-absent чи Married-AF-spouse), решту вважаємо холостими.**

In [124]:
data.loc[(data['sex'] == 'Male') & (data['marital-status'].str.startswith('Married')), 'salary'].value_counts()

<=50K    7576
>50K     5965
Name: salary, dtype: int64

**9. Яку максимальну кількість годин людина працює за тиждень (ознака *hours-per-week*)? Скільки людей працюють таку кількість годин і який серед них відсоток заробляючих багато?**

In [110]:
max_load = data['hours-per-week'].max()
print("Max time - {0} hours./week.".format(max_load))

num_workaholics = data[data['hours-per-week'] == max_load].shape[0]
print("Total number of such hard workers {0}".format(num_workaholics))

rich_share = float(data[(data['hours-per-week'] == max_load)
                 & (data['salary'] == '>50K')].shape[0]) / num_workaholics
print("Percentage of rich among them {0}%".format(int(100 * rich_share)))

Max time - 99 hours./week.
Total number of such hard workers 85
Percentage of rich among them 29%

**10. Підрахуйте середній час роботи (*hours-per-week*) заробляючих мало і багато (*salary*) для кожної країни (*native-country*).**

In [126]:
for (country, salary), sub_df in data.groupby(['native-country', 'salary']):
    print(country, salary, sub_df['hours-per-week'].mean(), 2)

? <=50K 40.16475972540046 2
? >50K 45.54794520547945 2
Cambodia <=50K 41.416666666666664 2
Cambodia >50K 40.0 2
Canada <=50K 37.91463414634146 2
Canada >50K 45.64102564102564 2
China <=50K 37.38181818181818 2
China >50K 38.9 2
Columbia <=50K 38.68421052631579 2
Columbia >50K 50.0 2
Cuba <=50K 37.98571428571429 2
Cuba >50K 42.44 2
Dominican-Republic <=50K 42.338235294117645 2
Dominican-Republic >50K 47.0 2
Ecuador <=50K 38.041666666666664 2
Ecuador >50K 48.75 2
El-Salvador <=50K 36.03092783505155 2
El-Salvador >50K 45.0 2
England <=50K 40.483333333333334 2
England >50K 44.53333333333333 2
France <=50K 41.05882352941177 2
France >50K 50.75 2
Germany <=50K 39.13978494623656 2
Germany >50K 44.97727272727273 2
Greece <=50K 41.80952380952381 2
Greece >50K 50.625 2
Guatemala <=50K 39.36065573770492 2
Guatemala >50K 36.666666666666664 2
Haiti <=50K 36.325 2
Haiti >50K 42.75 2
Holand-Netherlands <=50K 40.0 2
Honduras <=50K 34.333333333333336 2
Honduras >50K 60.0 2
Hong <=50K 39.142857142857146 2
Hong >50K 45.0 2
Hungary <=50K 31.3 2
Hungary >50K 50.0 2
India <=50K 38.233333333333334 2
India >50K 46.475 2
Iran <=50K 41.44 2
Iran >50K 47.5 2
Ireland <=50K 40.94736842105263 2
Ireland >50K 48.0 2
Italy <=50K 39.625 2
Italy >50K 45.4 2
Jamaica <=50K 38.23943661971831 2
Jamaica >50K 41.1 2
Japan <=50K 41.0 2
Japan >50K 47.958333333333336 2
Laos <=50K 40.375 2
Laos >50K 40.0 2
Mexico <=50K 40.00327868852459 2
Mexico >50K 46.57575757575758 2
Nicaragua <=50K 36.09375 2
Nicaragua >50K 37.5 2
Outlying-US(Guam-USVI-etc) <=50K 41.857142857142854 2
Peru <=50K 35.06896551724138 2
Peru >50K 40.0 2
Philippines <=50K 38.065693430656935 2
Philippines >50K 43.032786885245905 2
Poland <=50K 38.166666666666664 2
Poland >50K 39.0 2
Portugal <=50K 41.93939393939394 2
Portugal >50K 41.5 2
Puerto-Rico <=50K 38.470588235294116 2
Puerto-Rico >50K 39.416666666666664 2
Scotland <=50K 39.44444444444444 2
Scotland >50K 46.666666666666664 2
South <=50K 40.15625 2
South >50K 51.4375 2
Taiwan <=50K 33.774193548387096 2
Taiwan >50K 46.8 2
Thailand <=50K 42.86666666666667 2
Thailand >50K 58.333333333333336 2
Trinadad&Tobago <=50K 37.05882352941177 2
Trinadad&Tobago >50K 40.0 2
United-States <=50K 38.79912723305605 2
United-States >50K 45.50536884674383 2
Vietnam <=50K 37.193548387096776 2
Vietnam >50K 39.2 2
Yugoslavia <=50K 41.6 2
Yugoslavia >50K 49.5 2