# <center>Lab 1. Analysis of data on income</center>

**The task proposes to answer several questions according to the UCI repository using Pandas [Adult](https://archive.ics.uci.edu/ml/datasets/Adult) (you do not need to download the data - they are already in the lab directory).

Unique feature values (more information at the link above):
- age: continuous.
- workclass: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.
- fnlwgt: continuous.
- education: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.
- education-num: continuous.
- marital-status: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.
- occupation: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.
- relationship: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.
- race: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.
- sex: Female, Male.
- capital-gain: continuous.
- capital-loss: continuous.
- hours-per-week: continuous.
- native-country: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.   
- salary: >50K,<=50K

In [ ]:
import pandas as pd

**Data Access on google drive**, if you open the notebook in **google colab**, and not on PC, you can get by mounting google drive

In [ ]:
from google.colab import drive
drive.mount('/content/gdrive')

In [ ]:
!ls gdrive/MyDrive/TEACHING/IntroDataScience/intro_to_data_science/Lab_topic_1/data

In [6]:
# the path to the data folder on my google drive (edit according for your case) 
data_folder = "gdrive/My Drive/TEACHING/IntroDataScience/intro_to_data_science/Lab_topic_1/data"

In [ ]:
#data = pd.read_csv('data/adult.data.csv')
data = pd.read_csv(data_folder+'/adult.data.csv')
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

**1. How many men and women (*sex*) are represented in this dataset?**

In [ ]:
# your code is here

**2. What is the average age (*age* feature) of women?**

In [ ]:
# your code is here

**3. What proportion of German citizens (*native-country*)?**

In [ ]:
# your code is here

**4-5. What are the average values and age deviations of those who receive more than 50K per year (salary feature) and those who receive less than 50K per year?**

In [ ]:
# your code is here

**6. Is it true that people who get more than 50k, with at least higher education? (feature *education - Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters* or *Doctorate*)**

In [ ]:
# your code is here

**7. Display age statistics for each race (*race* feature) and each sex. Use *groupby* and *describe*. Find the maximum age of *Amer-Indian-Eskimo* men.**

In [1]:
# your code is here

**8. Among whom the largest share of earners is a lot (> 50K): among married or single men (feature *marital-status*)? We consider married those whose *marital-status* begins with *Married* (Married-civ-spouse, Married-spouse-absent or Married-AF-spouse), the rest we consider single.**

In [2]:
# your code is here

**9. What is the maximum amount of hours a person works per week (feature *hours-per-week*)? How many people work so many hours and what percentage of them earn a lot?**

In [3]:
# your code is here

**10. Calculate the average working hours (*hours-per-week ) of earning little and much (*salary*) for each country (*native-country*).**

In [4]:
# your code is here